body{
    margin: 0;
    padding: 0;
    background-color: #627264;
}
.Cont{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
    padding: 10px;
    gap: 10px;
    /* overflow: hidden; */
}
/* ---------------------------------------HEADER---------------------------------- */
.headCont{
    display: grid;
    grid-template-columns: 1fr 9fr;
    box-sizing: border-box;
    gap: 10px;
}
.leftHead{
    background-color: #A1CDA8;
    border-radius: 10px;
}
.rightHead{
    background-color: #B5DFCA;
    border-radius: 10px;
}
/* ----------------------------------------MAIN---------------------------------- */
.mainCont{
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 10px;
}
.leftMain{
    background-color: #DA7635;
    border-radius: 10px;
}
.rightMain{
    display: flex;
    background-color: #DB995A;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}
.images{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.image{
    flex: 1;
    height: 100px;
    max-width: 100px;
    border-radius: 50px;
    background-color: #35b271;
}

.footCont{
    background-color: #3A3042;
    border-radius: 10px;
}