
body{
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.head, .main, .footer{
    background-color: pink;
    border-radius: 10px; 
}

.head{
    height: 10vh;
    margin: 0;
}
.main{
    height: 80vh;
    margin: 0;
}
.footer{
    height: 10vh;
    margin: 0;
}