body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
}

.head{
    flex: 2;
    background-color: ;
}

.main{
    flex: 2;
}

.footer{
    flex: 2;
}